{% extends 'base/base_dashboard.html' %}
{% block content %}

<h2>Record for {{ request.user }}</h2>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Date of Receiving (Supplier)</th>
            <th>Supplier</th>
            <th>Base Serial</th>
            <th>Roover Serial</th>
            <th>Data Logger Serial</th>
            <th>Radio Serial</th>
            <th>Chief Surveyor</th>
            <th>Surveyor Responsible</th>
            <th>Project</th>
            <th>Section</th>
            <th>Date Receiving (Department)</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for info in data %}
        <form action="{% url 'request_equipment' %}" method="post">
            {% csrf_token %}
        <tr>
            <td>{{info.name}}</td>
            <td>{{info.date_of_receiving_from_supplier}}</td>
            <td>{{info.supplier}}</td>
            <td>{{info.base_serial}}</td>
            <td>{{info.roover_serial}}</td>
            <td>{{info.data_logger_serial}}</td>
            <td>{{info.radio_serial}}</td>
            <td>{{info.chief_surveyor}}</td>
            <td>
                <input type="text" name='surveyor_res' value="{{info.surveyor_responsible}}">
                <input type="text" name='id' value="{{info.id}}" hidden>
            </td>
            <td>
                
                <input type="text" name='project' value="{{info.project}}">
                <input type="text" name='id2' value="{{info.id}}" hidden>

            </td>
            <td>
                <input type="text" name='section' value="{{info.section}}">
                <input type="text" name='id3' value="{{info.id}}" hidden>

            </td>
            <td>{{info.date_receiving_from_department}}</td>

            <td>{{info.status}}</td>
            <td><button type="submit">Release</button></td>
            
        </tr>
    </form>
        {% endfor %}
    </tbody>
</table>
<button onclick="addRow()">Add More</button>
{% endblock %}