{% extends 'base/base_dashboard.html' %}
{% block content %}
<h2>Equipments in Store</h2>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Date of Receiving (Supplier)</th>
            <th>Supplier</th>
            <th>Base Serial</th>
            <th>Roover Serial</th>
            <th>Data Logger Serial</th>
            <th>Radio Serial</th>
            <th>Chief Surveyor</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for info in data %}
        <form action="{% url 'store' %}" method="post">
            {% csrf_token %}
        <tr>
            <td>{{info.name}}</td>
            <td>{{info.date_of_receiving_from_supplier}}</td>
            <td>{{info.supplier}}</td>
            <td>{{info.base_serial}}</td>
            <td>{{info.roover_serial}}</td>
            <td>{{info.data_logger_serial}}</td>
            <td>{{info.radio_serial}}</td>
            <td>
                <select name="id" id="">
                {% for users in user %}
                <option value="{{ users.id }}">{{ users.username}}</option>
                {% endfor %}
            </select>
            <input type="text" value="{{info.id}}" name="equipment_id" hidden>
        </td>
            <td>{{info.status}}</td>
            <td><button type="submit">Release</button></td>
            
        </tr>
    </form>
        {% endfor %}
    </tbody>
</table>
<!-- <button onclick="addRow()">Add More</button> -->
{% endblock %}