<!-- templates/registration/login.html -->

<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="login-container">
        <h2>Login to Your Account</h2>

        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            
            <div class="form-actions">
                <button type="submit" class="btn">Login</button>
            </div>
        </form>

        <div class="links">
          
            <a href="{% url 'create_user' %}">Create a new account</a>
        </div>
    </div>
</body>
</html>
